body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}

canvas {
    height: 95%;
    width: 100%;
    background-color: black;
}
.message {
    display: inline-block;
    background: #aebdbf;
    color: #666666;
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 12px;
    line-height: 32px;
    border-radius: 10.56px;
    padding: 0 16px;
    margin-left: 42%;
    margin-top: 10px;
    }